h1 {
    color: white;
    margin-left: 10px;
    line-height: 40px;

}

div {
    background-color: orange;
    height: 100px;
    width: 100px;
    margin: 1px 1px 10px 20px;
}

section {
    background-color: grey;
    max-width: 40vh;
    height: 530px;
}