body {
    background-color: #f5f5dd;
}



.one {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.900);
    margin: 10px 60px;
}

.two {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.700);
    margin: 10px 60px;
}

.three {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.400);
    margin: 10px 60px;
}

.four {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.200);
    margin: 10px 60px;
}