body {
    background-color: #f5f5dd;
}

.all {
    height: 100px;
    width: 100px;
    margin: 10px 60px;
}

.one {
    background-color: rgba(0, 0, 0, 0.900);
}

.two {
    background-color: rgba(0, 0, 0, 0.700);
}

.three {
    background-color: rgba(0, 0, 0, 0.400);
}

.four {
    background-color: rgba(0, 0, 0, 0.200);
}