body {
    background-color: darkgray;
}

h1 {
    color: blue;
    background-color: yellow;
}

p {
    color: aqua;
    background-color: black;
}

h2 {
    color: green;
    background-color: bisque;
}

.p2 {
    color: greenyellow;
    background-color: rgba(0, 0, 0, 0.247);
}

ol {
    color: chocolate;
    background-color: white;
}

.li1 {
    color: brown;
}

.li2 {
    color: blueviolet;
}

.li3 {
    color: chocolate;
}

.li4 {
    color: cornflowerblue;
}

.li5 {
    color: rgb(233, 246, 0);
}